
<div class="row new">
  <div class="row col-md-7 col-md-offset-2" style="border: 1px solid #CFCFCF; border-radius: 5px">
  <div class="row" style="text-align: center; background-color: #EAE3D3; padding: 5px">
      <h4>Creer votre annonce</h4>
  </div>
   <div class="row" style="background-color: white; padding-top:20px;">
        <%= render 'forms_articles' %>
   </div>
   
    
    </div>
</div>
