@import "bootstrap-sprockets";
@import "bootstrap";

.single {
padding: 30px 15px;
margin-top: 40px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }


.im {
    border-radius: 20px;
}




//////////// show article
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.preview-thumbnail{
    margin-left: 30%;
    margin-bottom: 20px
}
.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: black; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart{
    margin-top: 75px;
  background: #F2DFAC;
  padding: 1.2em 1.2em;
  border: 1px solid #C3A34E;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #C3A34E;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

///// index article 

.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.pi-img-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    
}


.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn_view {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn_view:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
//.product-item .add2cart {
//    float: right;
//    color: #a8aeb3;
//    border: 1px #ededed solid;
//    padding: 3px 6px;
//    text-transform: uppercase; 
//}
//        .product-item .add2cart:hover {
//            color: #fff;
//            background: #e84d1c;
//            border-color: #e84d1c;
//        }


.ico {
    float: right;
}

.creer{
    margin: 20px;
    width: 100%;
text-align: right;
padding-right: 20px;
}
.pad{
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;

}

.head{
    background-color: #F7F7F7;
    padding-bottom: 10px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #CFCFCF;
}


.head h4 span{
    background-color: #c66e69;
    padding: 3px;
    border-radius: 7px;
}

.text {
    margin-left: 20px;
    text-align: center;
}

.new{
    border: 2px solid #F3F3F3;
    border-radius: 7px;
    width: 100%;
    padding-top: 30px;
    background-image: url(asset-path('body_bg.png'));
}
.new container{
    background-color: white;
}

.forms{
    margin: auto;
    width: 40%;
    background-color: white;
    padding-left: 3px;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-radius: 7px;



}

.txt{
    width: 30%;
    margin: auto;
    text-align: center;
}

.mod {
    width: 100%
}

.mod:hover{
    background-color: aliceblue
}

select{
    width: 25%;
    height: 120%;
}


.test{
    
    display: block;
//    width: 50%;
    margin: 50% auto;
    text-align: center;
    text-transform: capitalize;
}

.bg:hover{
    background-color: #F4FAFB;
    
}

.custom-file label input{
    display: none;
    
}

.bt{
   width: 50%;
}
.add{
    margin-left: 50%;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}
.body label {
    margin-left: 25%
}

.nested-fields{
//    height: 200px
    margin: 5px
}

.error{
    color: green
}

.custom-file input{
    display: none
    
}


.info{
    margin-left: 40px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500
}

.info div{
    padding: 5px;
}

.block_info h4{
    margin-left: 10px;
    font-weight: bold
}

.articles{
    border: 2px solid #F3F3F3;
    border-radius: 7px;
    padding-top: 30px;
    background-image: url(asset-path('body_bg.png'));
}

.articles .container{
    background-color: white;
    border: 1px solid #CFCFCF;
    border-radius: 5px;

}

.bg{
    border-bottom: 1px solid #CFCFCF;
    margin: 0;

}

.count button{
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
}
.count button span{
    font-weight: normal;
    font-size: 0.8em;
}

.count{
    padding: 0;
    margin-bottom: 20px;
}

.test span{
    font-weight: normal;
    font-size: 0.8em;
    text-align: center;
}

.lnk:link, .link:visited{
    color: black
}

.title{
    margin-bottom: 35px;
    color: #366797;
    text-transform: capitalize;
}
.title span{
    color: #9A9A9A;
}

.search{
    background-image: url(asset-path('searchbox_bg.png'));
    width: 100%;
}

.search h1, .search h3{
    color: white;
    text-align: center;
}

.search .form-inline{
}
.search .form-inline .form-group .form-control{
    height: 40px;
    width: 300px;
    margin: 5px;
}

.prix .form-control{
    width: 50px;
    display: inline-block;
}

.search .form-inline .form-group .btn{
    height: 40px;
    width: 50px;
    box-shadow: 0 5px 8px;
    font-size: 1.5em
}

.city h3{
    text-decoration: underline;
}
.city ul{
    list-style-type: circle;
    font-weight: bold;
    font-size: 1.2em;
    color: #366797;
}
.city ul li{
    margin: 5px;
}
.logo{
    padding: 30px
}

.rech li {
    color: black;
    font-weight: bold;
    margin: 5px;
}

.annonce {
    padding: 10px 25px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

.submit{
    font-weight: bold;
    text-align: right;
    padding: 10px;
}

.info{
    border: 1px solid #CFCFCF;
    font-size: 1.2em;
    width: 100%;
    background-color: #FCFCFC;
    border-radius: 7px;
    height: 70px;
}
.info tr{

}

.colonne{
    font-weight: bold;
    color: #366797;
    padding: 15px 10px;
    
}