<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 - Site Built By Mr. Bentleb Youssef <span style="font-weight: bold">Supervised By Mr. Ayoub Ait Lehcen</span>
      </p>
      <%= link_to root_path, class: "navbar-btn btn-success btn pull-right" do %>
        <span class="glyphicon glyphicon-home"></span> Acceuil 
        <%end%>
    </div>